<p id="notice"><%= notice %></p>

<div class="container-fluid">

 <div class ="col-sm-6 col-sm-offset-3">
 	<h1> Wynlancers </h1>
 	<p>The most elite level talent in the world.</p>
    <button type="button" class="btn btn-default"><%= link_to 'Apply', new_product_path %></button>

     <button type="button" class="btn btn-success"><%= link_to 'Hire', products_path %></button>
 </div>
</div>

<div class="container">
  <h1>How It Works</h1>
  <div class="row">
    <div class="col-sm-4">
    	<h3>About</h3>
    <p>We are the best. Legends. Forever.</p>
    </div>
    <div class="col-sm-4">
    	<h3>Find Talent</h3>
    	<p>This site holds the best tech related talent in the world.
    </div>
    <div class="col-sm-4">
     <h3>Hire</h3>
       <p>Contact elite talent directly and receive a response within 24 hours.</p>
    </div>
  </div>
</div> <!-- ends container div -->


