<p id="notice"><%= notice %></p>

<div class="container-fluid">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">About</div>
    <div class="col-sm-4">hello</div>
    <div class="col-sm-4">friend</div>
  </div>
</div> <!-- ends container div -->


<%= link_to 'Products', products_path %>
