<!-- <p id="notice"><%= notice %></p> -->
<header>

</header>
<div class="container-fluid">

 <div class ="col-sm-6 col-sm-offset-3">
 	<h1> Wynlancers </h1>
 	  <p>The most elite level talent in the world.</p>
      <button type="button" class="btn btn-default"><%= link_to 'Apply', new_product_path %></button>

  <button type="button" class="btn btn-success"><%= link_to 'Hire', products_path %></button>
</div> <!-- ends col-sm-6 div -->
  </div> <!-- ends container fluid div -->

<div class="container">
  <div class="information">
  <h1>How It Works</h1>
  <div class="row">
    <div class="col-sm-4">
    <i class="fa fa-desktop fa-5x"></i>
    	<h3>About</h3>
       <p class="lead">We are the best. Legends. Forever.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users fa-5x"></i>
    	 <h3>Find Talent</h3>
    	  <p class="lead">This site holds the best tech related talent in the world.</p>
    </div>
      <div class="col-sm-4">
       <i class="fa fa-check-circle fa-5x"></i>
        <h3>Hire</h3>
         <p class="lead">Contact elite talent directly and receive a response within 24 hours.</p>
     </div>
    </div> <!-- ends row container -->
   </div>
 </div> <!-- ends container div -->


 <div class="container">
 <div class="team">
 <h1>Our Team</h1>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://i.imgur.com/jnVy9Lz.jpg" class="img-responsive" alt="Jose Cartagena" class="img-thumbnail">
      <h3>Jose Cartagena</h3>
      <h4>Co-Founder</h4>
      <p class="lead">I believe in quality over quantity.</p>
    </div>
    <div class="col-sm-4">
    <img src="http://i.imgur.com/FQfwons.jpg" class="img-responsive" alt="Katherine Beam" class="img-thumbnail">
      <h3>Katherine Beam</h3>
      <h4>Co-Founder</h4>
      <p class="lead">I envisioned a platform where finding talent didn't involve worrying.</p>
      </div>
      <div class="col-sm-4">
      <img src="http://i.imgur.com/SsMsjhP.jpg" class="img-responsive" alt="Guelmis Cortina" class="img-thumbnail">
       <h3>Guelmis Cortina</h3>
       <h4>Co-Founder</h4>
       <p class="lead">I'm only here for the B&amp;B. Babes &amp; Beer.</p>
     </div>
    </div>
   </div>
 </div>


