h3 {
	font-family: "Noto Sans";
}

.product_profile {
	background: rgba(0, 0, 0, 0.80);
}

.product_head {
	text-align: center;
	border-bottom: 2px solid white;
}

.product_head p {
  font-size: 4em;
}

.product_head img {
	border-radius: 1em;
	height: 30%;
	width: 20%;
	margin-top: 10em;
}

.container .description {
	margin: 0;
	height: 10em;
	padding: 2em;
	width: 100%;
}

.description {
	text-align: center;
	border: 2px solid white;
	background-color: white;
	color: black;
	overflow-y: auto;
	width: 100%;
}

.description p {
	font-size: 2em;
}


.container .profile_feet {
	background-color: rgba(0, 0, 0, 0.80);
	width: 100%;
	overflow-y: auto;
	height: 30em;
	text-align: center;
	padding-top: 2em;
}

 .container .profile_feet h3 {
  font-size: 4em;
  padding-bottom: 1em;
 }

  .container .profile_feet p {
  	font-size: 2em;
  	padding-bottom: 0.25em;
  }


.container .profile_feet textarea {
	border-radius: 1em;
	border: 0;
	color: black;
	padding: 5em;
}


.container .profile_feet input {
	background-color: green;
	color: white;
	border: 0;
	border-radius: 1em;
	padding: 5px;
}

 .container .profile_feet h4 {
 	color: green;
 	font-style: normal;
 }

 .field label {
 	font-size: 1em;

 }

.profile_feet .actions input {
	font-size: 1.25em;
	padding: 1em;
	margin-top: 2%;
	margin-bottom: 2%;
}


.product_head .btn {
	border: 0;
	font-size: 1em;
	padding: 1em;
	margin-bottom: 1em;
}


.product_head .btn:hover {
	background-color: darkgreen;
	color: white;

}











