<p id="notice"><%= notice %></p>
    
    <div class="navbar">
     <div class="topnavbar">
       <a id="title" href="" class="navbar-brand"> 
          Wynlancers
       </a>
  
       <ul class="nav navbar-nav navbar-right">
         <li><a href="">Home</a></li>
        <li><a href="">Popular</a></li>
         <li><a href="">Reviews</a></li>
       </ul>
  
      </div> <!-- ends topnavbar div --> 
    </div> <!-- ends navbar div --> 


    <div class="productback">
        <div class="col-sm-8 col-sm-offset-2">
          <h1>Best Talent in the World!</h1>
          <p>What can we do for you?</p>
          <form>
             <input type="text" results="searchresults" placeholder="Enter keywords"/>
             <button type="button" class="btn btn-md btn-success">Search</button>
             <!-- <i class="fa fa-search fa-2x"></i> -->
          </form>
          </form>
        </div>
    </div>  <!-- ends productback div --> 


    <div class="container">
      <h1 id="variety">Choose from a variety of skills</h1>
      <h3>Most popular wynlancers</h3>
      <div class="profilesback">      
        <div class="jumbotron">
          <% @products.each do |product| %>  
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
              <ul>  
                <li><img class="img-responsive" src="http://www.teryrobertson.com/Graphics/images/1.jpg" alt="Profile Picture"></li> 
              <div class="overlay">
               <li><%= product.name %></li>
               <li><%= product.description %></li>
               <li><%= product.formatted_price %></li>
               <a class="info" href="#">Check out my profile</a>
             </div> <!-- ends overlay div -->
             </ul> 
           </div> <!-- ends hovereffect div -->
         </div> <!-- ends col-lg-3 col-md-4 col-sm-6 col-xs-12 div -->
         <% end %> 
       </div> <!-- ends jumbotron div -->
     </div> <!-- ends profilesback div -->
   </div> <!-- ends container div -->
   
   <div class="reviews">
     <table>
        <tr>
          <th colspan="2" class="text-center">Reviews</th>
        </tr>
        <tr>
         <td>
           <img src="http://www.wilkinsonsword.co.uk/images/slider/slide3_woman.png">
           <div>
           <p class="lead">Excellent job on this project. Really surprised on how well it turned out. Highly recommend. I will definitely come 
               back next time I need something done. I never thought it was possible to get what I needed done in so little time and
               with so much proficiency.</p>
             </div>
           </td>
           <td>
             <img src="http://www.lifetimehealth.co.za/wp-content/uploads/2014/10/Black-Man-smiling.jpg">
             <div>
               <p class="lead">This is an amazing, outstanding site! These boys and girls are real professionals, they listened well, and were eager and able to make the required changes. Their work was beautiful and professional, they're well worth the money. You, or your brand, will be please and amazed if you hire them.</p>
             </div>
           </td>
         </tr>
       </table>
     </div> <!-- ends reviews div -->

     <div class="footer">
        <h4>Contact Info</h4>
     </div>
    <br>
   
