<h2 style="text-align: center">Think you have what it takes to join the Wynlancer team?</h2><br>
<h4 style="text-align: center">Apply below:</h4>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
