
    <div class="navbar" style="margin-bottom: -20px; padding-top:1em; color:white;">
     <div class="topnavbar">
       <a id="title" href="/" class="navbar-brand"> 
          Wynlancers
       </a>
  
       <ul class="nav navbar-nav navbar-right" style= "color:white;">
         <li><a href="/">Home</a></li>
        <li><a href="/products#popular">Popular</a></li>
         <li><a href="/products#reviews">Reviews</a></li>
       </ul>
  
      </div> <!-- ends topnavbar div --> 
    </div> <!-- ends navbar div --> 


<div class="body" style="padding-top: 6em; font-family: Roboto Condensed; padding-bottom: 15em; background-image: url('https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?fit=crop&fm=jpg&h=575&q=80&w=1450'); background-size: cover">
  <br>
  <h1 style="text-align: center; letter-spacing: .05em; padding: 0 5em 0 5em; color: white;">Think you have what it takes to join the Wynlancer team?</h1><br>
  <br>

<%= render 'form' %>




</div>
